body {
  font-family: sans-serif;
  margin: auto;
  background-color: powderblue;
}

.titulo{
  text-align: center;
  font-family: monospace;
  font-size: 1.4rem;
  color: blueviolet;
}

.foto{
  text-align: center;
}

.informacion{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: darkgreen;
}